.box {
    background-color: orange;
    width: 70px;
    height: 70px;
    animation-name: animacao1;
    animation-duration: 5s;
    position: relative;
    animation-delay: 0s;
}
h1 {
    text-align: center;
    border: 1px solid black;
    color: blue;
}

@keyframes animacao1 {
    from {left: 0;}
    to {left: 200px; background-color: green;}
}

#animation-div1 {
    animation-timing-function: linear;
}
#animation-div2 {
    animation-timing-function: ease;
}
#animation-div3{
    animation-timing-function: ease-in;
}
#animatio-div4{
    animation-timing-function: ease-out;
}
#animation-div5 {
    animation-timing-function: ease-in-out;
}